*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h3{
    margin-left: 6.5%;
    letter-spacing: 1px;
}
.nav{
    display: flex;
    margin-right: 6.5%;
}
.nav ul{
    display: flex;
    list-style-type: none;
}
.nav ul li{
    display: inline-block;
    margin: 0px 15px;
}
.nav ul li a{
    text-decoration: none;
    color: #222;
    font-weight: 500;
}
.nav i{
    font-size: 20px;
    margin: 0px 15px;
}
.rowh{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 80px;
}
.colh{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid black; */
    margin: 15px 15px; 
    padding: 20px 30px;
}
.colh:nth-child(1){
    flex-basis: 41%;
}
.colh:nth-child(2){
    flex-basis: 51%;
}
.colh-p1{
    font-size: 60px;
    font-weight: 700;
    color: rgb(29, 29, 29);
}
.colh-p2{
    margin-top: 0.7rem;
    font-size: 22px;
    color: #4a4a4a;
    letter-spacing: 1px;
    animation-delay: 0.5s;
}





.img1{
    background-image: url(images/blog-website-hero-img.jpg);
    height: 300px;

    border-radius: 25px;
    border-top-left-radius: 0px;
}
.img1.anim{
    animation-delay: 1s;
}
.img2{
    background-image: url(images/blog-website-hero-img2.jpg);
    height: 230px;
    border-top-right-radius: 25px;
}
.img3{
    background-image: url(images/blog-website-card-img3.jpg);
}
.img4{
    background-image: url(images/blog-website-card-img5.jpg);
}
.img5{
    background-image: url(images/blog-website-card-img4.jpg);
}
.rowf .img6{
    background-image: url(images/blog-website-img6.jpg);
    height: 290px;
    border-bottom-right-radius: 25px;
}
.img1,.img2,.img3,.img4,.img5,.img6{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




.hero2{
    animation-delay: 1.5s;
}
.row2{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin-top: 90px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    
}
.row2.anim{
    animation-delay: 1.5s;
}
.col2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.col2:nth-child(1){
    flex-basis: 52%;
    padding: 35px;
}
.col2:nth-child(2){
    flex-basis: 42%;
}
.col2-p1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.col2-p2{
    font-size: 14px;
    color: rgb(51, 50, 50);
}
.col2-div{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.col2-div p{
    font-size: 13px;
    color: gray;
}
.col2-div a{
    text-decoration: none;
    font-size: 13px;
    color: #222;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

.rowc{
    width: 78%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 15px;
    /* border: 1px solid red; */
}
.rowc.anim{
    animation-delay: 2s;
}
.colc{
    flex-basis: 30%;
    /* padding: 10px; */
    margin: 10px;
    /* border: 1px solid black; */
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card-img{
   height: 180px;
   /* border: 1px solid red; */
}
.card-text{
    padding: 10px;
}
.card-text h3{
    font-size: 22px;
    margin: 15px 0px;
}
.card-text p{
    font-size: 13px;
    color: rgb(50, 50, 50);
}
.card-text a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(68, 67, 67);
}
.card-div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.rowf{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* border: 1px solid red; */
}
.colf{
    flex-basis: 50%;
    /* border: 1px solid black; */
}
.colf-text{
    padding: 80px 40px;
}
.colf-text h1{
    font-size: 30px;
    margin-bottom: 25px;
}
.colf-text p{
    font-size: 14px;
    color: rgb(47, 46, 46);
}
.colf-div{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.colf-div a{
    text-decoration: none;
    font-size: 14px;
    color: #4a4a4a;
}
.btn{
    text-align: right;
    margin-right: 13%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn button{
    padding:13px 25px;
    background-color: rgb(33, 32, 32);
    color: white;
    border: none;
    border-top-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.3s;
} 
.btn button:hover{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    position: relative;
    bottom: 0px;
}
footer p{
    font-size: 13px;
    color: gray;
}
.ficon{
    margin: 0px 65px;
}
.ficon i{
    font-size: 20px;
    margin: 7px;
}

.article{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.article h1{
    font-size: 45px;
    margin: 20px 0px;
}
.article .author{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.article .author span{
    font-weight: 200;
    color: #4a4a4a;
    margin-left: 40px;
}
.article hr{
    margin-bottom: 20px;
}
.article .doc{
    /* margin-top: 30px; */
    color: rgb(102, 102, 102);
}
.article h2{
    font-size: 32px;
}
.article img{
    width: 100%;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}





@media (max-width:1000px){
    .colh:nth-child(1){
        flex-basis: 100%;
    }
    .colh:nth-child(2){
        flex-basis: 100%;
    }
    .colh-p1{
        font-size: 45px;
        font-weight: 700;
        color: rgb(29, 29, 29);
    }
    .colc{
        height: 420px;
    }
    .colc{
        flex-basis: 100%;
    }
    .card-text h3{
        font-size: 22px;
        margin: 15px 0px;
    }
    .colc{
        height: 350px;
    }
    .colf{
        flex-basis: 100%;
    }
    .colf-text{
        padding: 15px 10px;
    }
    .rowf .img6{
        height: 180px;
    }
}
@media (max-width:690px){
    .rowh{
        margin-top: 50px;
    }
    .navbar h3{
        font-size: 14px;
        margin-left:4%;
    }
    .nav{
        margin-right: 4%;
        align-items: center;
    }
    .nav ul li{
        margin: 5px;
    }
    .nav i{
        font-size: 17px;
        margin: 0px 7px;
    }
    .colh-p1{
        font-size: 23px;
        font-weight: 700;
        color: rgb(29, 29, 29);
    }
    .colh-p2{
        margin-top: 0.5rem;
        font-size: 15px;
        color: #4a4a4a;
        letter-spacing: 0px;
    }
    .img1{
        height: 190px;
    }
    .col2:nth-child(1){
        flex-basis: 100%;
        padding: 19px;
    }
    .col2:nth-child(2){
        flex-basis: 100%;
    }
    .img2{
        height: 160px;
        width: 180px;
    }
    .row2{
        margin-top: 40px;
    }
    .rowc{
        margin-top: 10px;
    }
    .colc{
        flex-basis: 100%;
    }
    .card-text h3{
        font-size: 22px;
        margin: 15px 0px;
    }
    .colc{
        height: 405px;
    }
    .article{
        margin-top: 30px;
    }
    .article h1{
        font-size: 28px;
        margin: 13px 0px;
    }
    .article .author{
        font-size: 14px;
        margin-bottom: 14px;
    }
    .article hr{
        margin-bottom: 14px;
    }
    .article h2{
        font-size: 22px;
    }
    .article h3{
        font-size: 15px;
    }
    .article .doc{
        font-size: 13px;
    }
}